
.add-animals-btn{
    position: fixed;
    z-index: 1;
}

.animal-card {
    height: auto;
}

.select-animal-card{
    width: 50%;
    height: 50%;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin: 1em;
}

.img-frame {
    max-height:200px;
    overflow-x: hidden;
}

.flexbox {
    padding: 2em;
    width:100%;
    border: 1px solid blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}