header {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #120e0c;
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-item {
  display: inline-block;
  padding: 0.5em;
  background-color: #d77d28;
}

li {
  padding: 1em;
  border: 1px solid blue;
  background-color: red;
  /* display: inline-block; */
}

a {
  text-decoration: none;
  color: #d77d28;
  font-weight: 300;
}
